body {
  background: #ede5c8;
  color: #000;
  font-size: 1.25rem; }

.bg-title {
  margin: 0;
  background-color: #e6aa18; }

.navbar-nav li {
  border-left-color: #000; }
@media (max-width: 1199.98px) {
  .navbar-nav li {
    border-top-color: #f8f9fa; } }
.navbar-nav .nav-link {
  color: #000 !important; }

.kv {
  margin-top: 100px; }
@media (max-width: 1199.98px) {
  .kv {
    margin-top: 60px; } }

#rule .content {
  background-color: #007b82;
  color: #fff; }

#notice .content {
  color: #007b82; }

.text-warning {
  color: #e4d217 !important; }

.text-success {
  color: #007b82 !important; }

.dot:before {
  background: #e6a917; }
