html, body {
  height: 100%; }

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
a:hover {
  text-decoration: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none; }

#header .h3 {
  text-shadow: 0 0 10px #FFFFFF; }
@media (max-width: 1199.98px) {
  #header .logo {
    max-height: 100px; } }

.font-small {
  font-size: 0.8rem; }

.dot:before {
  float: left;
  margin-top: 3px;
  margin-right: .5rem;
  width: 20px;
  height: 20px;
  display: block;
  content: '';
  background: #ccc; }

.navbar .navbar-brand .logo {
  max-height: 60px; }
@media (max-width: 1199.98px) {
  .navbar .navbar-brand .logo {
    max-height: 40px; } }

.navbar-nav {
  font-size: 1.25rem; }
.navbar-nav li {
  border-left: 1px solid #000; }
.navbar-nav li:first-child, .navbar-nav li:only-child {
  border-left: none; }
@media (max-width: 1199.98px) {
  .navbar-nav li {
    border-left: none;
    border-top: 1px solid #f8f9fa; } }
.navbar-nav .nav-link {
  color: #000 !important;
  font-size: 1.5rem; }

.btn-fb img {
  max-height: 40px; }

[class^="icon-"], [class*="icon-"] {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-pink {
  background-color: #db3885; }

.bs {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.bs-strong {
  -moz-box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3);
  -webkit-box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3);
  box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3); }
